<template>
    <div class="container">
        <form>
            <h1>Day la form edit user</h1>
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput">
            </div>
            <div class="form-group">
                <label for="addressInput">Address</label>
                <input type="text" class="form-control" id="addressInput">
            </div>
            <div class="form-group">
                <label for="phoneInput">Phone</label>
                <input type="text" class="form-control" id="phoneInput">
            </div>
            <div class="btn btn-success">Save</div>
        </form>
    </div>
</template>

<script>
    export default {

    }
</script>