<template>
    <h1>day la form user</h1>
    <div class="container">
        <div class="col-2">
            User Detail
        </div>
        <div class="col-2 offset-8">
            <button type="button" class="btn btn-primary">Add New</button>
        </div>
        <div class="user-list">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th class="action-th">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="action-td">
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>