<template>
  <div id="app">
    <h1>Day la app</h1>
    <app-edit-user></app-edit-user>
  </div>
</template>

<script>
  import EditUser from './components/EditUser.vue'
  export default {
    components: {
      appEditUser: EditUser
    }
  }
</script>


